.u-center-text{
  text-align: center;
}
.u-margin-botton-8{
  margin-bottom: 8rem;
}

.u-margin-botton-4{
  margin-bottom: 4rem;
}

.u-margin-bottom-2{
  margin-bottom: 2rem;
}

.u-margin-top-8{
  margin-top: 8rem;
}
